@use "app/variables.module.scss";

.container {
  @include variables.component-margin;

  margin-top: variables.$l-margin;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin: variables.$m-margin 0;
  }

  @include variables.tablet {
    margin-top: variables.$xl-margin;
  }

  @include variables.desktop {
    margin-top: variables.$xxl-margin;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: variables.$base-margin 0;
  gap: variables.$s-margin;

  @include variables.tablet {
    padding: variables.$base-margin 0;
  }

  @include variables.desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: variables.$l-margin 0;
  }
}

.link-container {
  height: 350px;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include variables.featured-button-link;

  p {
    text-align: left;
  }

  .link-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    padding: variables.$m-margin;
    font-size: 1.5rem;
    color: variables.$secondary-color;

    p {
      margin: 0 0 5px 0;
      font-size: 1.1rem;
      color: variables.$secondary-color;

      @include variables.desktop {
        font-size: 1.2rem;
      }
    }

    @include variables.tablet {
      padding: variables.$m-margin;
      font-size: 1.75rem;
    }

    @include variables.desktop {
      padding: variables.$padding-card;
      font-size: 1.8rem;
    }
  }
}
