@use "app/variables.module.scss";

.line-margin {
  padding-top: variables.$xxs-margin;
}

.war-service {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: variables.$xs-margin 0;
  padding: variables.$s-margin;
  font-size: 1.25rem;
  color: variables.$primary-dark-color;
  border-radius: variables.$border-radius;
  background-color: variables.$secondary-color;
  transition: background-color 0.9s ease-in-out;

  &:hover {
    background-color: variables.$placeholder-color;
  }

  p {
    padding-bottom: variables.$xxs-margin;
    font-weight: 300;
    color: variables.$primary-dark-color;
  }

  @include variables.desktop {
    padding: variables.$padding-card;
  }

  .arrow {
    color: variables.$primary-dark-color;
  }
}
