@use "app/variables.module.scss";

.container {
  @include variables.component-margin;

  padding-top: variables.$l-margin;
}

.roll-container {
  display: block;

  @include variables.desktop {
    display: flex;
    margin: 0 auto;
    margin-top: variables.$xxl-margin;
    max-width: variables.$inner-width;
    gap: variables.$base-margin;
  }
}

.controls {
  display: flex;
  flex-direction: column;

  @include variables.desktop {
    width: 400px;
  }

  .results {
    font-weight: 500;
  }
}
