@use "app/variables.module.scss";

.container {
  @include variables.component-margin;

  margin-top: variables.$l-margin;

  .roll-container {
    display: block;

    @include variables.desktop {
      display: flex;
      margin: 0 auto;
      margin-top: variables.$xxl-margin;
      max-width: variables.$inner-width;
      gap: variables.$base-margin;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;

    @include variables.desktop {
      width: 400px;
    }
  }

  .total {
    margin-bottom: variables.$xs-margin;

    @include variables.desktop {
      margin-bottom: variables.$s-margin;
    }
  }

  .alphabet {
    margin-bottom: variables.$base-margin;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 35px);
    justify-content: space-between;
    grid-gap: variables.$xxs-margin;

    @include variables.tablet {
      margin-bottom: variables.$l-margin;
      grid-template-columns: repeat(auto-fill, 37.5px);
    }

    @include variables.desktop {
      top: variables.$xxl-margin;
      margin: 0;
      width: 85%;
      display: flex;
      align-self: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: variables.$xs-margin;
      justify-content: flex-start;
      align-content: flex-start;
    }

    .letter {
      padding: 8px 0 8px 0;
      width: 35px;
      font-family: variables.$main-font;
      font-size: 1rem;
      font-stretch: 90%;
      font-weight: 500;
      color: variables.$secondary-color;
      text-align: center;
      text-decoration: none;

      @include variables.featured-button-link;

      @include variables.tablet {
        width: 37.5px;
        font-size: 1.25rem;
      }

      @include variables.desktop {
        width: 45px;
        font-size: 1.5rem;
      }
    }
  }

  @include variables.tablet {
    margin-top: variables.$xl-margin;
  }

  @include variables.desktop {
    margin-top: variables.$xxl-margin;
  }
}
