@use "app/variables.module.scss";

.filters {
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin: 0 7px 0;
    width: variables.$xs-margin;
    height: variables.$xs-margin;
    background: variables.$primary-medium-color;
    border: 1px solid variables.$primary-light-color;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    border: 1px solid variables.$secondary-color;
    background-color: variables.$secondary-color;
  }

  input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 0.7rem;
    color: variables.$primary-dark-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  label {
    display: inline-block;
    padding-bottom: 9px;

    @include variables.desktop {
      padding-bottom: 7px;
    }
  }

  .rank-category {
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 200;
    color: variables.$text-color;
  }

  .slider {
    margin-right: variables.$xxs-margin;

    @include variables.desktop {
      margin-right: 0;
    }
  }
}
