@use "app/variables.module.scss";

.howtocite {
  margin-top: variables.$base-margin;

  p {
    @include variables.notes-paragraph;
  }

  @include variables.desktop {
    margin: 0 auto;
    padding: variables.$xs-margin 0;
    max-width: 42rem;
  }
}

.copy-paste {
  background: none;
  border: none;
  vertical-align: super;
  padding-left: 8px;
  cursor: pointer;
}
