@use "app/variables.module.scss";

.roll {
  .letter-container {
    height: 50px;
    text-align: start;

    @include variables.tablet {
      height: 60px;
    }

    @include variables.desktop {
      height: 70px;
    }

    .title {
      margin: 0;
      padding: 8px 0 8px 0;
      font-size: 2rem;
      font-weight: 700;
      color: variables.$text-color;

      @include variables.tablet {
        font-size: 2.5rem;
      }

      @include variables.desktop {
        font-size: 3rem;
      }
    }
  }

  .tunnellers-container {
    margin: variables.$s-margin 0;
    display: flex;
    flex-direction: column;
    gap: variables.$xs-margin;
  }

  @include variables.desktop {
    width: 60%;
  }
}
