@use 'app/index.scss';

.container {
  @include index.component-margin;

  margin-top: index.$l-margin;

  .roll-container {
    display: block;

    @include index.desktop {
      display: flex;
      margin: 0 auto;
      margin-top: index.$xxl-margin;
      max-width: index.$inner-width;
      gap: index.$base-margin;
    }
  }

  .alphabet {
    margin: index.$base-margin 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    justify-content: space-between;
    grid-gap: index.$xs-margin;

    @include index.tablet {
      margin: index.$l-margin 0;
      grid-template-columns: repeat(auto-fill, 32.5px);
    }

    @include index.desktop {
      position: -webkit-sticky;
      position: sticky;
      top: index.$xxl-margin;
      margin: 0;
      width: 40%;
      display: flex;
      align-self: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: index.$xs-margin;
      justify-content: flex-start;
      align-content: flex-start;
    }

    .letter {
      padding: 8px 0 6px 0;
      width: 30px;
      font-family: index.$main-font;
      font-size: 1rem;
      font-stretch: 90%;
      font-weight: 500;
      color: index.$secondary-color;
      text-align: center;
      text-decoration: none;

      @include index.featured-button-link;

      @include index.tablet {
        width: 35px;
        font-size: 1.25rem;
      }

      @include index.desktop {
        width: 45px;
        font-size: 1.5rem;
      }
    }
  }

  @include index.tablet {
    margin-top: index.$xl-margin;
  }

  @include index.desktop {
    margin-top: index.$xxl-margin;
  }
}
