@use "app/variables.module.scss";

.homepage {
  @include variables.component-margin;
}

.homepage-container {
  margin: 0 auto;
  width: variables.$inner-width;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: left;

    @include variables.tablet {
      font-size: 3rem;
      line-height: 3rem;
    }

    @include variables.desktop {
      font-size: 3.75rem;
      line-height: 3.75rem;
    }
  }
}
