@use "app/variables.module.scss";

.menu {
  position: relative;
  margin-top: variables.$m-margin;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @include variables.component-margin;

  @include variables.tablet {
    margin-top: variables.$m-margin;
  }

  @include variables.desktop {
    margin: 0 auto;
    margin-top: variables.$base-margin;
    max-width: variables.$inner-width;
  }

  .logo {
    display: flex;
    align-items: center;
    height: variables.$base-margin;
    transition:
      border-bottom 0.9s ease-in-out,
      border-bottom 0.9s ease-in-out,
      border 0.9s ease-in-out,
      border 0.9s ease-in-out,
      background-color 0.9s ease-in-out,
      background-color 0.9s ease-in-out;

    img {
      height: 30px;
    }
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: variables.$xs-margin;
    height: variables.$base-margin;
    width: 100%;
    border: 1px solid variables.$primary-light-color;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-medium-color;

    form {
      width: 100%;

      input {
        box-sizing: border-box;
        width: 100%;
        height: variables.$base-margin;
        padding: 0 variables.$xs-margin;
        font-family: variables.$main-font;
        font-weight: 300;
        font-size: 1rem;
        color: variables.$text-color;
        border: none;
        border-top-left-radius: variables.$border-radius;
        border-bottom-left-radius: variables.$border-radius;
        background-color: variables.$primary-medium-color;
        transition:
          border-bottom 0.9s ease-in-out,
          border-bottom 0.9s ease-in-out,
          border 0.9s ease-in-out,
          border 0.9s ease-in-out,
          background-color 0.9s ease-in-out,
          background-color 0.9s ease-in-out;
      }

      input:focus {
        outline: none;
      }

      ::placeholder {
        color: variables.$placeholder-color;
      }
    }

    .search-form-button {
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }
  }
}

.dropdown {
  position: absolute;
  left: 50%;
  max-height: 300px;
  overflow: auto;
  z-index: 1;
  padding-top: 34px;
  padding-left: variables.$xs-margin;
  margin-top: -52px;
  margin-left: -6.7rem;
  width: 15rem;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$primary-medium-color;
  background-color: variables.$primary-dark-color;

  .surname {
    padding-left: variables.$xxxs-margin;
    font-weight: 500;
  }

  .dates {
    padding-left: variables.$xxxs-margin;
    font-size: 1rem;
  }

  ul {
    padding-top: variables.$xxs-margin;
  }

  p {
    transition: padding-left 0.9s ease;
  }

  p:hover {
    padding-left: variables.$xxs-margin;
    color: variables.$secondary-color;
  }

  @include variables.tablet {
    padding-left: variables.$s-margin;
    margin-top: -52px;
    margin-left: -9.4rem;
    width: 20rem;
  }

  @include variables.desktop {
    padding-left: variables.$s-margin;
    margin-top: -52px;
    margin-left: -24.2rem;
    width: 50rem;
  }
}

.hidden {
  transition: opacity 0.5s ease;
  opacity: 0;
}
