@use "app/variables.module.scss";

.menu {
  margin-top: variables.$s-margin;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  @include variables.component-margin;

  @include variables.tablet {
    margin-top: variables.$m-margin;
  }

  @include variables.desktop {
    margin: 0 auto;
    margin-top: variables.$base-margin;
    max-width: variables.$inner-width;
  }

  .logo {
    display: flex;
    align-items: center;
    height: variables.$base-margin;
    margin-right: variables.$xs-margin;
    transition:
      border-bottom 0.9s ease-in-out,
      border-bottom 0.9s ease-in-out,
      border 0.9s ease-in-out,
      border 0.9s ease-in-out,
      background-color 0.9s ease-in-out,
      background-color 0.9s ease-in-out;

    img {
      height: 30px;
    }
  }

  .search-form-container {
    position: relative;
    width: 100%;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: variables.$base-margin;
    width: 100%;
    border: 1px solid variables.$primary-light-color;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-medium-color;

    input {
      width: 100%;
      box-sizing: border-box;
      width: 100%;
      height: variables.$base-margin;
      padding: 0 variables.$xs-margin;
      font-family: variables.$main-font;
      font-weight: 300;
      font-size: 1rem;
      color: variables.$text-color;
      border: none;
      border-top-left-radius: variables.$border-radius;
      border-bottom-left-radius: variables.$border-radius;
      background-color: variables.$primary-medium-color;
      transition:
        border-bottom 0.9s ease-in-out,
        border-bottom 0.9s ease-in-out,
        border 0.9s ease-in-out,
        border 0.9s ease-in-out,
        background-color 0.9s ease-in-out,
        background-color 0.9s ease-in-out;
    }

    input:focus {
      outline: none;
    }

    ::placeholder {
      color: variables.$placeholder-color;
    }

    .search-form-button {
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }
  }

  .dropdown {
    position: absolute;
    overflow: auto;
    left: 50%;
    margin-top: variables.$xxs-margin;
    margin-left: -50%;
    max-height: 298px;
    width: 100%;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-medium-color;

    .surname {
      padding-left: variables.$xxxs-margin;
      font-weight: 500;
    }

    .dates {
      padding-left: variables.$xxxs-margin;
      font-size: 1rem;
    }

    p {
      margin: 0;
      padding: variables.$xxs-margin variables.$xs-margin;
      transition:
        color 0.9s ease-in-out,
        background-color 0.9s ease-in-out;

      &:hover {
        color: variables.$secondary-color;
        background-color: variables.$primary-light-color;
      }
    }

    @include variables.tablet {
      max-height: 350px;
    }

    @include variables.desktop {
      max-height: 335px;
    }
  }
}

.hidden {
  opacity: 0;
}
