@use "app/variables.module.scss";

// Font
@font-face {
  font-family: "Mona Sans";
  src:
    url("../public/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("../public/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

// HTML, Body
html {
  scrollbar-color: variables.$primary-light-color variables.$primary-dark-color;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: variables.$main-font, Helvetica, sans-serif;
  font-stretch: 95%;
  font-weight: 200;
  color: variables.$text-color;
  line-height: normal;
  background-color: variables.$primary-dark-color;
}

// Headers
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;

  @include variables.tablet {
    font-size: 3rem;
    line-height: 2rem;
  }

  @include variables.desktop {
    font-size: 5rem;
    line-height: 4rem;
  }
}

h2 {
  margin-top: variables.$base-margin;
  font-size: 1.4rem;
  font-weight: 500;

  @include variables.tablet {
    font-size: 1.5rem;
  }

  @include variables.desktop {
    font-size: 1.8rem;
  }
}

h3 {
  margin: variables.$m-margin 0;
  font-size: 1.2rem;
  font-weight: 500;

  @include variables.tablet {
    font-size: 1.3rem;
  }

  @include variables.desktop {
    font-size: 1.5rem;
  }
}

// Paragraph
p {
  font-size: 0.9rem;
  font-weight: 200;
  color: variables.$text-color;

  @include variables.tablet {
    font-size: 1rem;
  }

  @include variables.desktop {
    font-size: 1.1rem;
  }
}

// Link
a {
  text-decoration: none;
}

// List
ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

// Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
