@use "app/variables.module.scss";

.container {
  @include variables.component-margin;

  margin-top: variables.$l-margin;
  margin-bottom: 40px;

  .header {
    margin-bottom: variables.$l-margin;

    @include variables.tablet {
      margin-top: variables.$xl-margin;
    }

    @include variables.desktop {
      margin-bottom: 125px;
    }
  }

  a {
    @include variables.text-link;

    font-size: 1.15rem;
    font-weight: 500;
    vertical-align: baseline;
    line-height: 100%;

    @include variables.desktop {
      font-size: 1.25rem;
      line-height: 2.25rem;
    }
  }

  @include variables.tablet {
    margin-top: variables.$xl-margin;
  }

  @include variables.desktop {
    margin-top: variables.$xxl-margin;
  }
}

.image-container {
  display: flex;
  margin: variables.$base-margin 0;
  max-width: variables.$inner-width;
  justify-content: center;
  align-items: center;

  @include variables.tablet {
    margin: variables.$l-margin 0;
  }

  @include variables.desktop {
    margin: 0 auto;
    margin-top: variables.$xl-margin;
    margin-bottom: variables.$xl-margin;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  height: auto;
  width: 100%;
  border-radius: variables.$border-radius;

  @include variables.desktop {
    max-width: variables.$inner-width;
  }
}

.get-in-touch {
  margin-bottom: variables.$base-margin;

  @include variables.tablet {
    margin-bottom: variables.$l-margin;
  }

  @include variables.desktop {
    margin-bottom: variables.$l-margin;
  }
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .email {
    width: 50%;
    padding: variables.$s-margin 0;
    border-top-left-radius: variables.$border-radius;
    border-bottom-left-radius: variables.$border-radius;
    border: 1px solid variables.$primary-light-color;
    background-color: variables.$primary-medium-color;
    font-family: variables.$main-font;
    font-stretch: 95%;
    font-size: 16px;
    color: variables.$secondary-color;
    transition: all 0.9s ease-in-out;
    cursor: pointer;

    &:hover {
      border: 1px solid variables.$secondary-color;
      background-color: variables.$primary-dark-color;
    }

    @include variables.desktop {
      width: 21rem;
      font-size: 18px;
    }
  }

  .linkedin {
    width: 50%;
    padding: variables.$s-margin 0;
    border-top-right-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
    border: 1px solid variables.$primary-light-color;
    background-color: variables.$primary-medium-color;
    font-family: variables.$main-font;
    font-stretch: 95%;
    font-size: 16px;
    color: variables.$secondary-color;
    transition: all 0.9s ease-in-out;
    cursor: pointer;

    &:hover {
      border: 1px solid variables.$secondary-color;
      background-color: variables.$primary-dark-color;
    }

    @include variables.desktop {
      width: 21rem;
      font-size: 18px;
    }
  }
}
