@use "app/variables.module.scss";

.intro {
  padding-top: variables.$m-margin;
  padding-bottom: variables.$s-margin;
  background: url("../../../public/images/homepage/ART_3670.jpg") fixed top
    center no-repeat;
  background-size: contain;
  background-clip: text;

  h1 {
    @include variables.component-margin;

    margin-bottom: variables.$m-margin;
    font-size: 20vw;
    font-weight: 900;
    line-height: 16vw;
    color: transparent;
    text-transform: uppercase;
    text-align: start;

    @include variables.tablet {
      font-size: 13vw;
      line-height: 10.5vw;
    }

    @include variables.desktop {
      margin-left: 0;
      margin-right: 0;
      font-size: 9.5vw;
      line-height: 7.5vw;
    }
  }
}

.roll-wrapper {
  display: flex;
  justify-content: flex-end;
}

.discover {
  margin-bottom: variables.$xxxs-margin;
}

.roll-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.roll {
  padding-bottom: variables.$xxxs-margin;
  font-size: 1.2rem;
  font-weight: 500;
  color: variables.$text-color;
  border-bottom: 1px solid variables.$secondary-color;
  transition:
    color 0.9s ease-in-out,
    color 0.9s ease-in-out,
    border-bottom 0.9s ease-in-out,
    border-bottom 0.9s ease-in-out;

  @include variables.tablet {
    padding-bottom: variables.$xxxs-margin;
    font-size: 1.3rem;
  }

  @include variables.desktop {
    padding-bottom: variables.$xxs-margin;
    font-size: 1.5rem;
  }

  &:hover {
    border-bottom: 1px solid variables.$secondary-color;
    color: variables.$secondary-color;
  }

  @include variables.desktop {
    margin-left: 0;
    margin-right: 0;
  }
}
