@use "app/variables.module.scss";

.intro {
  @include variables.component-margin;

  margin-top: variables.$base-margin;

  @include variables.desktop {
    margin-left: 0;
    margin-right: 0;
  }

  svg {
    background-image: url("../../../public/images/homepage/ART_3670.jpg");
    background-position: 20% 75%;
    background-size: cover;
    background-attachment: fixed;

    @include variables.tablet {
      background-position: top;
      background-position: center;
      background-size: contain;
    }

    @include variables.desktop {
      height: 540px;
      background-position: top;
      background-position: center;
      background-size: contain;
    }

    text {
      font-size: 1.2em;
      font-weight: 900;
      color: transparent;
      text-transform: uppercase;

      @include variables.tablet {
        font-size: 0.8em;
      }

      @include variables.desktop {
        font-size: 0.8em;
      }
    }
  }
}

.roll-wrapper {
  display: flex;
  justify-content: flex-end;
}

.discover {
  display: block;
  margin-bottom: variables.$xxxs-margin;
  font-size: 0.9rem;
  font-weight: 200;
  text-align: start;

  @include variables.tablet {
    font-size: 1rem;
  }

  @include variables.desktop {
    font-size: 1.1rem;
  }
}

.roll-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.roll {
  @include variables.component-margin;

  padding-bottom: variables.$xxxs-margin;
  font-size: 1.2rem;
  font-weight: 500;
  color: variables.$text-color;
  border-bottom: 1px solid variables.$secondary-color;
  transition:
    color 0.9s ease-in-out,
    border-bottom 0.9s ease-in-out;

  @include variables.tablet {
    padding-bottom: variables.$xxxs-margin;
    font-size: 1.3rem;
  }

  @include variables.desktop {
    padding-bottom: variables.$xxs-margin;
    font-size: 1.5rem;
  }

  &:hover {
    border-bottom: 1px solid variables.$secondary-color;
    color: variables.$secondary-color;
  }

  @include variables.desktop {
    margin-left: 0;
    margin-right: 0;
  }
}
