@use "app/variables.module.scss";

.button-chapter-container {
  padding: 5px 0 0 0;

  @include variables.tablet {
    padding: variables.$m-margin 0 variables.$xs-margin 0;
  }

  @include variables.desktop {
    padding: variables.$m-margin 0 variables.$s-margin 0;
    margin: 0 auto;
    padding: variables.$m-margin 0;
    width: 42rem;
  }
}

.button-chapter {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: variables.$xs-margin 0;
  padding: 30px variables.$s-margin;
  font-size: 1.25rem;
  color: variables.$secondary-color;

  @include variables.featured-button-link;

  .chapter {
    margin: 0 0;
    padding-bottom: variables.$xxs-margin;
    color: variables.$secondary-color;
  }

  span {
    font-weight: 500;
  }

  .arrow {
    @include variables.arrow-button;
  }

  @include variables.desktop {
    padding: variables.$padding-card;
  }
}
