@use 'app/index.scss';

.tunneller {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: index.$m-margin;

  @include index.featured-button-link;

  @include index.desktop {
    padding: index.$padding-card;
    flex: 50%;
  }

  p {
    text-align: left;
  }

  .surname {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: index.$secondary-color;

    @include index.tablet {
      font-size: 1.75rem;
    }

    @include index.desktop {
      font-size: 1.8rem;
    }
  }

  .forename {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
    color: index.$secondary-color;

    @include index.tablet {
      font-size: 1.75rem;
    }

    @include index.desktop {
      font-size: 1.8rem;
    }
  }

  .dates {
    margin: index.$xs-margin 0 0 0;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: index.$secondary-color;

    @include index.tablet {
      margin-top: index.$s-margin;
    }

    @include index.desktop {
      margin-top: index.$m-margin;
      font-size: 1.125rem;
    }
  }
}
