@use "app/variables.module.scss";

.tunneller {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$m-margin;

  @include variables.featured-button-link;

  @include variables.desktop {
    padding: variables.$padding-card;
    flex: 50%;
  }

  p {
    text-align: left;
  }

  .surname {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: variables.$secondary-color;

    @include variables.tablet {
      font-size: 1.75rem;
    }

    @include variables.desktop {
      font-size: 1.8rem;
    }
  }

  .forename {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
    color: variables.$secondary-color;

    @include variables.tablet {
      font-size: 1.75rem;
    }

    @include variables.desktop {
      font-size: 1.8rem;
    }
  }

  .dates {
    margin: variables.$xs-margin 0 0 0;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: variables.$secondary-color;

    @include variables.tablet {
      margin-top: variables.$s-margin;
    }

    @include variables.desktop {
      margin-top: variables.$m-margin;
      font-size: 1.125rem;
    }
  }
}
