@use "app/variables.module.scss";

.grid-container {
  @include variables.component-margin;

  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: center;
  align-content: center;

  @include variables.desktop {
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-item {
  width: 100px;
  height: 100px;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$primary-light-color;
  overflow: hidden;
}

.grid-item-image {
  width: 100%;
  height: auto;
  transition: transform 0.9s ease-in-out;
}

.grid-item-image:hover {
  transform: scale(1.1);
}
