@use "app/variables.module.scss";

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: variables.$m-margin;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.9s ease-in-out;

  @include variables.component-margin;

  @include variables.tablet {
    top: variables.$m-margin;
  }

  @include variables.desktop {
    margin: 0 auto;
    top: variables.$base-margin;
    max-width: variables.$inner-width;
  }

  .logo {
    display: flex;
    align-items: center;
    height: variables.$base-margin;
    margin-right: variables.$xs-margin;
  }

  .search-form-container {
    position: relative;
    width: 100%;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: variables.$base-margin;
    border: 1px solid variables.$primary-light-color;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-medium-color;

    input {
      width: 100%;
      box-sizing: border-box;
      width: 100%;
      height: variables.$base-margin;
      padding: 0 variables.$xs-margin;
      font-family: variables.$main-font;
      font-weight: 300;
      font-size: 1rem;
      color: variables.$text-color;
      border: none;
      border-top-left-radius: variables.$border-radius;
      border-bottom-left-radius: variables.$border-radius;
      background-color: variables.$primary-medium-color;
      transition:
        border-bottom 0.9s ease-in-out,
        border-bottom 0.9s ease-in-out,
        border 0.9s ease-in-out,
        border 0.9s ease-in-out,
        background-color 0.9s ease-in-out,
        background-color 0.9s ease-in-out;
    }

    input:focus {
      outline: none;
    }

    ::placeholder {
      color: variables.$placeholder-color;
    }

    .search-form-button {
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }
  }

  .dropdown {
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin-top: variables.$xxs-margin;
    margin-left: -50%;
    width: 100%;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$primary-light-color;
    background-color: variables.$primary-medium-color;

    .surname {
      font-weight: 500;
    }

    .dates {
      font-size: 1rem;
    }

    ul {
      overflow: scroll;
      max-height: 298px;

      @include variables.tablet {
        max-height: 350px;
      }

      @include variables.desktop {
        max-height: 328px;
      }
    }

    p {
      margin: 0;
      padding: variables.$xxs-margin variables.$xs-margin;
      transition:
        color 0.9s ease-in-out,
        background-color 0.9s ease-in-out;

      &:hover {
        color: variables.$secondary-color;
        background-color: variables.$primary-light-color;
      }
    }
  }
}

.tunnellers-link {
  margin-top: -17px;
  padding: variables.$xs-margin variables.$xs-margin variables.$xs-margin
    variables.$xs-margin;
  color: variables.$secondary-color;
  font-weight: 500;
  border-top: 1px solid variables.$primary-light-color;
  background-color: variables.$primary-dark-color;
  transition:
    color 0.9s ease-in-out,
    background-color 0.9s ease-in-out;

  &:hover {
    color: variables.$secondary-color;
    background-color: variables.$primary-light-color;
  }
}

.tunnellers-link-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  line-height: 20px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}
